**Q1.1** Write a Python Program to implement your own myreduce() function which works exactly
like Python's built-in function reduce()

In [0]:
def myreduce(func,sequence):
    result=sequence[0]
    for num in sequence[1:]:
        result=func(result,num)
    return result

In [22]:
#test our own myreduce() function
def product(x,y):
    return x*y
#call the function
myreduce(product,[5,6,7,8,9])

15120

**Q1.2** Write a Python program to implement your own myfilter() function which works exactly like Python's built-in function filter()

In [0]:
def myfilter(fun,sequence):
    r=[]
    for num in sequence:
        if fun(num):
            r.append(num)
    return r

In [26]:
#test myFilter function:
def iseven(a):
    if(a%2==0):
        return True
    else:
        return False
#call the function
myfilter(iseven,[1,3,47,52,10,2,4,5,6,7])

[52, 10, 2, 4, 6]

**Q2.** Implement List comprehensions to produce the following lists.


Write List comprehensions to produce the following Lists

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [27]:
a=['x', 'y', 'z']
result2=[i*num for i in a for num in range(1,5)]
result2

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xx', 'yy', 'zz', 'xxxx', 'yyyy', 'zzzz']

In [28]:
b=['x','y','z']
result3=[i*num for num in range(1,5) for i in b]
result3

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [30]:
num1=[2,3,4]
result4=[[i+j] for i in num1 for j in range(0,3)]
result4

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [31]:
num2=[2,3,4,5]
result5=[[i+j for j in range(0,4)] for i in num2]
result5

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]

In [29]:
num3=[1,2,3]
result6=[(j,i) for i in num3 for j in num3]
result6

[(1, 1), (2, 1), (3, 1), (1, 2), (2, 2), (3, 2), (1, 3), (2, 3), (3, 3)]